.flexgrid {
    @extend .clearfix;
    margin: 0 (-($column-gutter / 2));

    &__item {
        @for $i from 1 through 12 {
            &--#{$i} {
                width: ($i/12)*100%;
                padding: 0 ($column-gutter / 2);
            }
        }
    }

    //
    // Flexbox ondersteuning
    //
    .flexbox & {
        @include flexbox;
        @include flex-wrap(wrap);

        &:before,
        &:after {
            display: none;
        }

        // FLexbox op item zetten om inhoud volledige hoogte te geven
        &__item {
            @include flexbox();
            @include flex-direction(column);
        }
    }


    //
    // Geen flexbox ondersteuning
    //
    .no-flexbox & {
        &__item {
            float: left;
        }
    }
}